<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale =1.0">
    <script src="./lib/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/cssreset.css">
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <script src="./lib/angular.min.js" language="JavaScript" type="text/javascript"></script>
    <script src="./lib/jquery-2.0.3.min.js" language="JavaScript" type="text/javascript"></script>
    <script src="./js/quiz.js" type="text/javascript"></script>

</head>
<body>
    <div class="jumbotron1" ng-app>
         <div class="title1">
             <p>Can You Match The Arnold Quote to the Movie?</p>
         </div>

             <form ng-submit="submit()" ng-controller="quizctrl">
                  <p ng-repeat="choice in questions.choices">
                     <input type = "radio" id="quiz-answer"/>
                      <label>{{$index}}{{choice}}</label>
                  </p>
             </form>
        <ul>
            <li ng-repeat="question in questions">{{$index}}</li>
        </ul>
    </div>

</body>
</html>
